.admin-layout {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  .layout-content {
    position: relative;
    z-index: 1;

    .ant-layout-sider {
      backdrop-filter: blur(6px);
    }

    .header-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 16px;

      .logout-button {
        min-width: 80px;
      }
    }

    .ant-layout-content {
      padding: 24px !important;
      min-height: 100vh;
      border-radius: 8px;
      transition: all 0.3s ease;
    }

    .ant-layout-sider-zero-width-trigger-left {
      top: 0;
    }
  }
}
